@import "../../variables.module.scss";

.agenda {
	h2 {
		text-align: left;
		margin: 0 1em;
		color: rgb(77, 77, 77);
		display: flex;
		i {
			margin-right: 6px;
			color: $primary;
			font-size: 1.3em;
		}
	}
	.calendar {
		color: dimgray;
		.rbc-label.rbc-time-header-gutter {
			background-image: url(../../assets/schedule.svg);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			background-color: #f7f7f7;
		}
		.rbc-toolbar {
			.rbc-btn-group:first-child {
				margin: 10px;
				width: 100%;
				justify-content: center;
				display: flex;
				button {
					background-color: white;
					border: none;
					border-radius: 6px;
					color: gray;
				}
				button:hover {
					background-color: $primary;
					color: white;
				}
				button:first-child {
					order: 1;
					margin: 0 8px;
				}
				button:last-child {
					order: 3;
				}
			}
			.rbc-btn-group:last-child {
				position: absolute;
				top: 19px;
				left: 180px;
				button {
					border: none;
				}
				.rbc-active {
					color: $primary;
					box-shadow: none;
					background: none;
					font-weight: bold;
					font-size: 16px;
				}
			}
		}
		.rbc-toolbar-label {
			font-size: 1.2em;
			font-weight: bold;
			flex-grow: unset;
		}

		.rbc-allday-cell {
			display: none;
		}
		.rbc-header.rbc-today {
			a {
				padding: 3%;
				color: white;
				background-color: $primary;
				border-radius: 50%;
				font-weight: normal;
				font-size: 1.1em;
				letter-spacing: 1px;
			}
		}
		.rbc-today {
			background-color: #f7f7f7;
		}
		.rbc-date-cell.rbc-now a {
			background-color: $primary;
			color: white;
			border-radius: 50%;
			font-size: 1.2em;
			padding: 3%;
		}
		.rbc-time-gutter.rbc-time-column {
			background-color: #f7f7f7;
		}
		.rbc-events-container {
			margin-right: 4em;
		}
		.rbc-day-slot .rbc-event-label {
			position: absolute;
			bottom: 10px;
			left: 20px;
			color: gray;
		}
		.rbc-event {
			background-color: white;
			border: none;
			border-top-style: solid;
			border-top-width: 4px;
			min-height: 10vh;
			p {
				color: dimgray;
				font-weight: bold;
				margin-bottom: 0;
				margin-left: 1em;
			}
			span {
				color: gray;
				margin-left: 1em;
				font-size: 0.9em;
			}
		}
		.rbc-event:hover {
			background-color: #f4f4fa;
		}
	}
	.leyenda {
		display: grid;
		grid-auto-flow: column;
		margin-top: 1em;
		justify-items: center;
	}
}
