@import "../../variables.module.scss";

.citaC {
	display: grid;
	grid-auto-rows: 10% auto;
	max-width: 40vw;
	width: 30vw;
	min-width: 20vw;
	height: 100%;
	.citaHeader {
		background-color: #f4f4fa;
		padding: 1em 2em;
		display: flex;
		b {
			margin: auto 0;
		}
		span {
			margin: auto 0 auto auto;
			font-size: 1.3em;
			width: 2.2em;
			height: 2.2em;
			color: dimgray;
			text-align: center;
			border-radius: 50%;
			line-height: 2.5em;
			position: relative;
			cursor: pointer;
			&:hover {
				background-color: lightgray;
			}
		}
	}
	.steps {
		display: grid;
		grid-auto-flow: row;
		grid-auto-rows: auto;
		.step {
			display: grid;
			grid-template-columns: 1fr 1px 5fr;
			.num {
				margin: auto;
				font-size: 1.3em;
				width: 2.2em;
				height: 2.2em;
				background-color: #f4f4fa;
				color: dimgray;
				text-align: center;
				border-radius: 50%;
				line-height: 2.2em;
				position: relative;
			}
			.done {
				background: #4ac497 !important;
				color: white !important;
			}
			.line {
				border: 2px solid #f4f4fa;
				transform: translate(-2.6vw, 12vh);
				z-index: -1;
			}
			.card {
				box-shadow: 0 1px 3px rgba(56, 56, 56, 0.12),
					0 1px 2px rgba(56, 56, 56, 0.24);
				align-self: center;
				justify-self: center;
				width: 90%;
				.tituloCard {
					display: grid;
					font-size: 10px;
					grid-template-columns: 4fr 1fr;
					align-items: center;
					padding-top: 1em;
				}
				.conDatos {
					margin: auto;
					width: 90%;
					.editBtn {
						background: none;
						color: #337cd0;
						float: right;
						margin-right: 3em;
						border: none;
						padding: 8px;
						font-weight: bold;
						border-radius: 8px;
						&:hover {
							background-color: #f4f3f4;
						}
					}
					.cardContentServicios {
						display: grid;
						grid-template-columns: 2fr 1fr;
						align-items: center;
						li {
							color: dimgray;
							font-size: 0.9em;
						}
						span {
							padding: 1em;
							border-radius: 4px;
							background-color: #4ac497;
							color: white;
							margin: 1em 0;
							text-align: center;
						}
						.barberSelect {
							display: flex;
							cursor: pointer;
							position: relative;
							i {
								position: absolute;
								right: 8%;
								top: 26%;
							}
							&:hover {
								background-color: #45ac86;
							}
						}
					}
					.cardContentClient {
						display: grid;
						grid-template-columns: 1fr 3fr;
						margin: 1em 0;
						img {
							width: 4em;
							height: 4em;
							color: #808080;
							border-radius: 50%;
							filter: invert(59%) sepia(72%) saturate(6%) hue-rotate(75deg)
								brightness(95%) contrast(92%);
						}
						.clientRight {
							display: grid;
							grid-auto-flow: row;
							font-size: 0.9em;
							h3 {
								color: dimgray;
								border-bottom: 1px solid #f4f4fa;
								padding-bottom: 1em;
							}
							.clientInf {
								display: grid;
								grid-template-columns: 1fr 2fr;
								* {
									padding: 0.5em 0;
									color: dimgray;
								}
							}
						}
					}
					.cardContentHoras {
						text-align: left;
						color: dimgray;
						margin: 2em 0;
						span {
							justify-content: center;
							color: red;
							display: flex;
							margin-top: 1em;
							align-items: center;
							font-size: 0.9em;
						}
					}
				}
				.sinDatos {
					margin: auto;
					width: 90%;
					display: grid;
					grid-template-rows: 2em auto;
					height: 100%;
					button {
						width: 100%;
						text-align: center;
						background-color: white;
						color: $primary;
						border: 2px solid #f4f3f4;
						padding: 1em 0;
						font-weight: bold;
						border-radius: 4px;
						margin: 2em auto;
						&:hover {
							// background-color: #f4f4fa;
							border: 2px solid $primary;
						}
					}
				}
				.dropdown {
					max-height: 21em;
					height: -fit-content;
					position: absolute;
					height: fit-content;
					background-color: white;
					margin: -1vw 0 0 1vw;
					width: 20vw;
					transition: max-height 0.25s ease-out;
					box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
						0 10px 10px rgba(0, 0, 0, 0.22);
					overflow-y: hidden;
					z-index: 300;
					.dropdownBtn {
						padding: 1em;
						line-height: 1em;
						border-radius: 50%;
						font-weight: bold;
						cursor: pointer;
						display: flex;
						width: fit-content;
						&:hover {
							background-color: #f4f3f4;
						}
					}
					.cancelBtn {
						margin: 0.5vh 0.5vh 0 auto;
					}
					.deleteBtn {
						float: right;
						margin: 0.5vh 0.5vh 0 auto;
					}
					.backBtn {
						float: left;
						margin: 0.5vh auto 0 0.5vh;
					}
					.saveServiceBtn {
						display: flex;
						button {
							background-color: white;
							padding: 0.5em 1em;
							margin: auto 1em 2em auto;
							color: $primary;
							border-radius: 8px;
							border: 2px solid $primary;
							&:hover {
								background-color: $primary;
								color: white;
							}
						}
					}
					.searchbarInDropdown {
						width: 18.6vw;
						padding: 1em;
						margin: 1em;
						background-color: #f4f3f4;
						border: none;
						border-radius: 8px;
						outline: none;
					}
					.dropdownList {
						overflow-y: scroll;
						margin: 1em 0;
						height: fit-content;
						width: 20vw;
						li {
							list-style: none;
							padding: 1em;
							display: grid;
							grid-auto-flow: column;
							border-bottom: 1px solid #f4f3f4;
							.costo {
								text-align: end;
								font-weight: bold;
							}
							&:hover {
								color: #4ac497;
								background-color: #f5fafa;
								border-left: 2px solid #4ac497;
							}
						}
						&::-webkit-scrollbar {
							width: 6px;
							background-color: #f5f5f5;
						}
						&::-webkit-scrollbar-track {
							border-radius: 10px;
							background-color: #f5f5f5;
						}

						&::-webkit-scrollbar-thumb {
							border-radius: 10px;
							background-color: #b8b8b8;
						}
					}
					.timepickers {
						display: grid;
						grid-template-columns: 1fr 1fr;
						text-align-last: center;
						margin: 1em 0 2em 0;
						justify-items: center;
						.timepicker {
							width: 8em;
						}
						span {
							color: gray;
						}
						label {
							color: $primary;
							font-weight: bold;
						}
						input {
							&:hover {
								color: $primary;
								+ fieldset {
									border-color: $primary;

									border-width: 2px;
								}
							}
						}
					}
				}
				.selectDropDown {
					margin: 8vh 0 0 9vw;
					min-width: 10vw;
					width: 10vw;
					.option {
						display: block;
						margin: 0;
						background-color: white;
						color: dimgray;
						padding: 1em;
						text-align: center;
						border-bottom: 1px solid #f4f4fa;
						&:hover {
							border-left: 2px solid #4ac497;
							background-color: #f5fafa;
							color: #4ac497;
						}
					}
				}
				.hide {
					max-height: 0px;
					padding: 0;
					// width: 20vw;
					* {
						visibility: hidden;
						opacity: 0;
					}
				}
			}
		}
	}
	.actions {
		display: flex;
		button {
			font-weight: bold;
			border: none;
			border-radius: 8px;
			margin: auto;
		}
		.cancelBtn {
			padding: 1em 2em;
			background: none;
			color: gray;
			&:hover {
				background-color: #f4f4fa;
			}
		}
		.saveBtn {
			padding: 1em 8em;
			background-color: $primary;
			color: white;
		}
		.saveBtnHover {
			&:hover {
				background-color: $primaryHover;
			}
		}
		.saveBtnDisabled {
			background-color: gray;
		}
	}
}
