.clinicHistoryC {
	margin: 1em;
	background-color: white;
    padding: 1em;
    border-radius: 8px;
	fieldset {
		border: 2px solid lightgray;
		border-radius: 8px;
		height: 90%;
		legend {
			color: dimgray;
			font-weight: bold;
		}
		.motivo,
		.observaciones {
			font-size: 0.8em;
			margin: 4px 0;
			span {
				margin-left: 6em;
			}
		}
		.clinicHistoryGrid {
			display: grid;
			grid-template-columns: 1fr;
			column-gap: 1em;
			font-size: 0.8em;
			max-width: 12vw;
			p {
				margin: 0 0 0 1em;
			}
		}
	}
}
