.menuPreviewC{
    font-size: 0.8em;
    margin: 2em;
    height: 80vh;
    display: flex;
    flex-direction: column;
    .superior{
        display: grid;
        grid-template-columns: 3fr 4fr 3fr;
        h2{
            text-transform: capitalize;
            margin: auto auto 0 0;
        }
        .brand {
            display: grid;
            grid-template-columns: 3em auto;
            align-items: center;
            img {
                width: 14em;
            }
        }
    }
    .menuContainer{
        li{
            max-width: 40em;
            list-style: auto;
            &::marker{
                font-weight: bold;
            }
            p{
                font-weight: bold;
                display: inline-block;
                margin: 0 auto;
                &::first-letter {
                    text-transform: capitalize;
                }
            }
        }
        h3{
            text-align: center;
        }
    }
    .spacer {
        flex: 1 1 auto;
    }
    footer{
        border-top: 1px solid lightgray;
        text-align: center;
        p{
            font-size: 0.7em;
            font-weight: bold;
            margin: 0 auto;
        }
    }
}