@import "../../../variables.module.scss";

.todayDataC {
	width: 60vw;
	margin: 2em;
	.title{
		color: dimgray;
		text-transform: capitalize;
		h2{
			margin-top: 0;
			margin-bottom: 2em;}
	}
	.todayDataContainer {
		margin: 1em 10%;
		display: grid;
		grid-template-rows: 1fr;
		row-gap: 2em;
		.todayDataGrid {
			align-items: center;
			justify-items: center;
			fieldset {
				width: 3em;
				border-radius: 8px;
				border-color: lightgray;
				border-style: solid;
				legend{
					font-size: 1.2em;
					font-weight: bold;
				}
				input {
					width: 3em;
					font-size: 5em;
					color: #989898;
					background: transparent;
					border-style: none;
					outline: none;
					text-align: center;
				}
				span {
					display: flex;
					justify-content: end;
				}
			}
		}
		.superior{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
		.inferior {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}
	.actionBtn{
		display: flex;
		width: 100%;
		button{
			margin: auto 4em auto auto;
			width: 10em;
		}
	}
}
