@import "../../../variables.module.scss";

.reviewC{
	width: 60vw;
	margin: 2em;
    .title{
        text-align: center;
        color: dimgray;
    }
	.gridContainer{
		display: grid;
		grid-template-columns: 3fr 1fr;
		.left{

		}
		.right{
			.progress{
				/*Pesos Dinamicos */
				.spinner{
					zoom:350%;
					position: relative;
					display: grid;
					justify-content: center;
					svg {
						margin: auto;
						display: block;
						path {
							stroke-linecap: round;
							stroke-width: 4;
							fill:none;
						}
						.backS {
							stroke: lightgrey;
						}
						.frontS {
							stroke: purple;
							stroke-dasharray: calc(40 * 3.142 * 1.85);
						}
					}
					.lostWeight{
						color: grey;
						position: absolute;
						top: 55%;
						left: 50%;
						transform: translate(-50%, -50%);
						*{
							margin: 0;
							text-align: center;
						}
						h5{
							font-size: 0.5em;
						}
					}
				}
				.pesos{
					margin: auto;
					text-align: center;
					*{
					margin: auto;
					font-size: 1.3em;
					}
					.pesosSup{
						display: flex;
						border-bottom: 2px solid gainsboro;
						padding-bottom: 0.5em;
						color: darkgray
					}
					.pesosInf{
						display: flex;
						padding-top: 0.5em;
						// color: dimgray
					}
					span{
						display: flex;
						font-size: .6em;
					}
				}
			}
		}
	}
    .actionsBtns{
        justify-content: space-between;
					display: flex;
    				margin: auto 4em;
					button{
						width: 14em;
					}
					.backToTodayData{
						width: 4em !important;
						color: white;
					}
    }
}