@import "../../../variables.module.scss";

.reviewC{
	width: 60vw;
	margin: 2em;
    .title{
        text-align: center;
        color: dimgray;
    }
	.gridContainer{
		display: grid;
		grid-template-columns: 3fr 1fr;
		.left{
			display: grid;
			grid-template-rows: auto 1fr;
			.leftTitle{
				display: flex;
				.backToTodayData{
					width: 4em !important;
					height: 4em;
					color: dimgray;
					background-color: transparent;
					border-radius: 50%;
					margin-right: 1em;
					border: none;
					&:hover{
						background-color: lightgrey;
						color: dimgray;
					}
				}
				h3{
					margin: auto;

				}
			}
			.leftGrid{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				margin: 2em 6em;
				.titles, .last, .current, .difference{
					display: grid;
					grid-template-columns: 1fr;
					.nothing{
						color: white;
					}
					*{
						&:first-child{
							margin-bottom: 1em;
						}
					}
				}

				.last,.current,.difference{
					text-align: center;
				}
				.difference{
					font-weight: bold;
					.red{
						color: red;
					}
					.green{
						color: green;
					}
				}
			}
		}
		.right{
			.progress{
				/*Pesos Dinamicos */
				.spinner{
					zoom:350%;
					position: relative;
					display: grid;
					justify-content: center;
					svg {
						margin: auto;
						display: block;
						path {
							stroke-linecap: round;
							stroke-width: 4;
							fill:none;
						}
						.backS {
							stroke: lightgrey;
						}
						.frontS {
							stroke: purple;
							stroke-dasharray: calc(40 * 3.142 * 1.85);
						}
					}
					.lostWeight{
						color: grey;
						position: absolute;
						top: 55%;
						left: 50%;
						transform: translate(-50%, -50%);
						*{
							margin: 0;
							text-align: center;
						}
						h5{
							font-size: 0.5em;
						}
					}
				}
				.pesos{
					margin: auto;
					text-align: center;
					*{
					margin: auto;
					font-size: 1.3em;
					}
					.pesosSup{
						display: flex;
						border-bottom: 2px solid gainsboro;
						padding-bottom: 0.5em;
						color: darkgray
					}
					.pesosInf{
						display: flex;
						padding-top: 0.5em;
						// color: dimgray
					}
					span{
						display: flex;
						font-size: .6em;
					}
				}
			}
		}
	}
    .actionsBtns{
		display: flex;
		margin: 2em 4em 0 0;
		justify-content: end;
					button{
						width: 14em;
					}
					
    }
}