@import "../../../variables.module.scss";

.reviewC{
	width: 60vw;
	margin: 2em;
    .title{
        text-align: center;
        color: dimgray;
    }
	.gridContainer{
		display: grid;
		grid-template-columns: 3fr 1fr;
		.left{
			display: grid;
			grid-template-rows: auto 1fr;
			.leftTitle{
				display: flex;
				.backToTodayData{
					width: 4em !important;
					height: 4em;
					color: dimgray;
					background-color: transparent;
					border-radius: 50%;
					margin-right: 1em;
					border: none;
					&:hover{
						background-color: lightgrey;
						color: dimgray;
					}
				}
				h3{
					margin: auto;

				}
			}
			.leftGrid{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				margin: 2em 6em;
				.titles, .last, .current, .difference{
					display: grid;
					grid-template-columns: 1fr;
					.nothing{
						color: white;
					}
					*{
						&:first-child{
							margin-bottom: 1em;
						}
					}
				}

				.last,.current,.difference{
					text-align: center;
				}
				.difference{
					font-weight: bold;
					.red{
						color: red;
					}
					.green{
						color: green;
					}
				}
			}
		}
	}
    .actionsBtns{
		display: flex;
		margin: 2em 4em 0 0;
		justify-content: end;
					button{
						width: 14em;
					}
					
    }
}