@import "../../variables.module.scss";

.miniCalendarC {
	.card {
		box-shadow: 0 1px 28px rgba(0, 0, 0, 0.25), 0 1px 10px rgba(0, 0, 0, 0.22);
		display: grid;
		grid-template-rows: 8fr 1fr;
		padding: 2em;
		background-color: white;
		margin: 1em;
		border-radius: 8px;
		.superior {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 1em;
			.left {
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, 0.22);
				margin: 1em 2em;
				display: grid;
				grid-template-rows: 2fr 8fr 2fr 1fr;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				text-align: center;
				.nameDay {
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
					background-color: #f44336;
					color: white;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 1.5em;
					text-transform: capitalize;
				}
				.day {
					color: #f44336;
					font-size: 8em;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.month {
					display: flex;
					justify-content: center;
					align-items: center;
					color: dimgray;
					font-size: 1.5em;
					text-transform: capitalize;
				}
				.year {
					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;
					color: dimgray;
				}
			}
		}
		.inferior {
			display: grid;
			grid-template-columns: 2fr 1fr 2fr;
			column-gap: 2em;
			margin-top: 1em;
			button {
				color: gray;
				background-color: white;
				border-radius: 4px;
				border: 1px solid lightgray;
				&:hover {
					background-color: $primary;
					color: white;
					border-color: $primary;
				}
				&:first-child {
					width: 4em;
					justify-self: end;
				}
				&:last-child {
					width: 4em;
					justify-self: left;
				}
			}
		}
	}
}
