body {
	margin: 0;
	padding: 0;
	background: white;
	font-family: Product Sans;
}
.POSDrawer {
	display: flex;
	div.MuiPaper-root {
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
		height: fit-content;
		margin: auto 0 auto auto;
		position: relative;
		flex: none;
	}
}
.CartDrawer {
	div.MuiPaper-root {
		margin-top: 1em;
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
		height: 96%;
	}
}
.TicketDrawer {
	display: flex;
	div.MuiPaper-root {
		border-radius: 1em;
		height: fit-content;
		min-width: 20vw;
		margin: auto;
		position: relative;
		flex: none;
		overflow: visible;
	}
}
