body {
	margin: 0;
	padding: 0;
	background: white;
	font-family: Product Sans;
}
.POSDrawer,
.CartDrawer {
	div.MuiPaper-root {
		margin-top: 1em;
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
		height: 96%;
	}
}
